<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">	
		 
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	<style>
    	    body        { padding-top:80px; }
    	</style>
			<base href="homeVorLogin.html">
		<link rel="stylesheet" type="text/css" href="/css/Style.css">
		<title>Schenken-Macht-Freude</title>
	</head>
	
	<body>

<div id="header">
	<div id="left">
	<form name="suche" id="suche" action="/suchergebnisse" method="get">
        <div class="form-group">
            <label id="suchLabel">Suche</label>
            <input type="text" class="form-control" name="suche">
        </div>
 		<button type="submit" class="btn btn-warning btn-lg">LOS</button>
    </form>
    </div>
</div>
<div id="well">

</div>
		<br/>
		<br/>			
		<br/>	
		<br/>
		<br/>
	<div id="content">	
		<div id="">
				<a href="profile" class="btn btn-default"><span class="glyphicon">&#xe008;</span> Mein Konto</a>
				<br/>
				<br/>
				<a href="benachrichtungen" class="btn btn-default"><span class="glyphicon">&#x2709; </span> Benachrichtigungen</a>
				<br/>
				<br/>
				<a href="/eigeneArtikel" class="btn btn-default"><span class="fa fa-user"></span> Meine Artikel</a>
			</div>
		<br/>
			
		<br/>
	 
		</div>
<div id="content">
		<h1>AGB</h1>
	<p>Allgemeine Geschäftsbedingungen für die Nutzung der Plattform Schenken-Macht-Freude</p>
	<p>Schenken-Macht-Freude ermöglicht Zugang und Nutzung der Plattform ausschließlich auf der Grundlage der vorliegenden AGB. 
	Jeder Nutzer hat bei der Registrierung diese AGB, die Datenschutzhinweise und andere obligatorische Vorschriften auf der Plattform (bspw. Katalogregeln , Forenregeln ) 
	zur Kenntnis zu nehmen und zu bestätigen. Ein Verstoß gegen die geltenden Nutzungsbedingungen kann zivil- und strafrechtliche Konsequenzen nach sich ziehen. 
	</p>

	<p>Inhaltsübersicht:</p>
	<p> 1.  Anwendungsbereich</p>
	<p> 2.  Gegenstand und Umfang des Nutzungsvertrags</p>
  	<p> 3.  Registrierung; Verwaltung des Mitgliedskontos</p>
 	<p> 4.  Handel über die Plattform</p>
 	<p> 5.  Versand</p>
 	<p> 6.  Dienste</p>
 	<p> 7.  Pflichten des Mitglieds</p>
 	<p> 8.  Rechte und Pflichten von Schenken-Macht-Freude</p>
 	<p> 9.  Rechtseinräumung an von Mitgliedern eingestellten Inhalten</p>
 	<p> 10. Haftung</p>
 	<p> 11. Erhebung personenbezogener Daten</p>
 	<p> 12. Schlussbestimmungen</p>
 
	<h2>1. Anwendungsbereich</h2> 
	<p>Nutzungsberechtigte der Plattform sind natürliche Personen. 
	Minderjährige bedürfen zur Nutzung von Kleiderkreisel des Einverständnisses der Erziehungsberechtigten. 
	Einige Dienste und Funktionen der Plattform können von einer Nutzung durch Minderjährige ausgeschlossen sein. 
	Gewerbliche Anbieter sind nur nach Einholung der vorherigen Zustimmung von Schenken-Macht-Freude nutzungsberechtigt. 
	Diese AGB regeln das Nutzungsverhältnis zwischen Schenken-Macht-Freude und den berechtigten Nutzern der Plattform (nachfolgend „Mitglieder“). 
	Das Nutzungsverhältnis umfasst sämtliche Inhalte, Funktionen, Tools und sonstige Dienste einschließlich Zahlungsdienste (nachfolgend zusammen "Dienste" genannt), welche Schenken-Macht-Freude auf der Plattform zur Verfügung stellt. 
	Für Dienste können ergänzende Bedingungen gelten, die vor einer Nutzung bestätigt und akzeptiert werden müssen. 
	</p>
		
	<h2>2. Gegenstand und Umfang des Nutzungsvertrags</h2> 
	<p> Kleiderkreisel bietet den Mitgliedern mit der Plattform einen virtuellen Marktplatz zum Austausch von Waren („Katalog“) sowie weitere Dienste wie z.B. elektronische Zahlungssysteme, Profilseiten, Kommentar- und Benachrichtigungsfunktionen sowie Diskussionsforen.
	Die Mitglieder haben im Rahmen des Nutzungsvertrages die Möglichkeit, 
	Angebote anderer Mitglieder zu erhalten und Artikel zu erwerben sowie eigene Artikel in den für das jeweilige Angebot einschlägigen Katalog hochzuladen, 
	um sie zu tauschen, zu verschenken oder zu verkaufen. Zudem können die Mitglieder im Forum sowie mit privaten Nachrichten untereinander in Kontakt treten und kommunizieren. 
	Der Verkauf von Artikeln auf der Plattform ist grundsätzlich kostenfrei. 
	Kosten entstehen den Mitgliedern nur bei Inanspruchnahme von Zusatzleistungen (siehe dazu unter Ziffer 7).
	Kleiderkreisel behält sich das Recht vor, die Nutzung bestimmter Dienste innerhalb der Plattform – 
	insbesondere derjenigen, die das Akzeptieren von Zusatzbedingungen oder eine gesonderte Zustimmung voraussetzen – auf bestimmte Mitglieder und/oder Mitgliedergruppen zu beschränken.
	Als Betreiber stellt Kleiderkreisel lediglich eine Plattform und damit die technische Vorrichtung zur Verfügung, um einen Warenaustausch, die Abwicklung von Zahlungen sowie die Kommunikation unter den Mitgliedern zu ermöglichen. 
	Kleiderkreisel ist an den über die Plattform abgeschlossenen Verträgen zwischen den Mitgliedern und an der diesbezüglichen Kommunikation nicht beteiligt 
	und übernimmt daher auch keine Haftung für die über die Plattform zwischen Mitgliedern abgeschlossenen Verträge oder die von den Mitgliedern eingestellten Inhalte. 
	</p>
		
		
	<h2>3. Registrierung; Verwaltung des Mitgliedskontos</h2> 
	<p> Die Nutzung der Plattform zur Suche nach Angeboten, Mitgliedern und Foreninhalten ist ohne Registrierung möglich. Für alle anderen Dienste, 
	wie z.B. das Betreiben von Handel über die Plattform, die Nutzung eines der elektronischen Zahlungssysteme, die Abgabe von Bewertungen oder die Kommunikation mit anderen Mitgliedern ist eine Registrierung erforderlich. 
	Um sich auf der Plattform zu registrieren, gibt der Nutzer seine E-Mail-Adresse und ein von ihm gewähltes Passwort an. Der Nutzer bestätigt durch Setzen eines Hakens volljährig zu sein oder das entsprechende Einverständnis der Erziehungsberechtigten zu haben.
	Jeder natürlichen Person ist nur eine einmalige Registrierung mit einem einzelnen Mitgliedskonto gestattet. Jedes Mitgliedskonto wird von einer einzelnen natürlichen Person erstellt und verwaltet. 
	Mitgliedskonten sind nicht übertragbar.
	Kleiderkreisel bestätigt die Registrierung an die vom Nutzer angegebene E-Mail Adresse. Sobald der Nutzer die AGB und Datenschutzbestimmungen bestätigt hat, kommt der Nutzungsvertrag zu Stande. 
	Ohne die Bestätigung ist eine Nutzung der Plattform nicht möglich.
	Die in der Registrierungsmaske abgefragten Daten sind wahrheitsgemäß anzugeben. 
	Einzelheiten zur Erhebung und Verarbeitung der im Rahmen der Registrierung abgefragten Daten ergeben sich aus den Datenschutzhinweisen . 
	</p>
		
	<h2>4. Handel über die Plattform</h2> 
	<p>Nutzungsberechtigte der Plattform sind natürliche Personen. 
	Minderjährige bedürfen zur Nutzung von Kleiderkreisel des Einverständnisses der Erziehungsberechtigten. 
	Einige Dienste und Funktionen der Plattform können von einer Nutzung durch Minderjährige ausgeschlossen sein. 
	Gewerbliche Anbieter sind nur nach Einholung der vorherigen Zustimmung von Schenken-Macht-Freude nutzungsberechtigt. 
	Diese AGB regeln das Nutzungsverhältnis zwischen Schenken-Macht-Freude und den berechtigten Nutzern der Plattform (nachfolgend „Mitglieder“). 
	Das Nutzungsverhältnis umfasst sämtliche Inhalte, Funktionen, Tools und sonstige Dienste einschließlich Zahlungsdienste (nachfolgend zusammen "Dienste" genannt), welche Schenken-Macht-Freude auf der Plattform zur Verfügung stellt. 
	Für Dienste können ergänzende Bedingungen gelten, die vor einer Nutzung bestätigt und akzeptiert werden müssen. 
	</p>
		
	<h2>5. Versand</h2> 
	<p> Beim Einstellen von Artikeln sind durch den Verkäufer Angaben zu den Versandoptionen zu machen. 
	Zu den Versandoptionen sind die vom Käufer zu tragenden Versandkosten anzugeben. Der Verkäufer darf ausschließlich diejenigen Kosten als Versandkosten auf den Verkaufspreis aufschlagen, 
	die er selbst aufwenden muss. Unter Versandkosten fallen die folgenden Posten:
    Kosten für Verpackungsmaterial, soweit sie tatsächlich angefallen sind
    die tatsächlichen Versandkosten, die der Verkäufer für den Versand an das Transportunternehmen gezahlt hat
    zusätzliche Kosten, sofern besondere Versandarten gewählt wurden. In diesem Fall muss der Artikel tatsächlich auf diese Weise versandt worden sein.
	Diese Kosten sind vom Käufer zu tragen. Darüberhinausgehende Kosten dürfen nicht als Versandgebühren ausgewiesen werden. Der Verkäufer trägt die Beweislast für die Höhe der tatsächlich angefallenen Versandkosten. Bei auffällig hohen Versandgebühren oder bei Vorliegen eines krassen Missverhältnisses zwischen der Höhe des Verkaufspreises und der ausgewiesenen Versandgebühren, ist Kleiderkreisel berechtigt, entsprechende Belege für die Höhe der tatsächlich angefallenen Kosten zu verlangen. Um Missverständnissen vorzubeugen, empfiehlt Kleiderkreisel, im Falle ungewöhnlich hoher Versandkosten unaufgefordert eine Aufschlüsselung der Versandkosten bereitzustellen. Der Käufer kann nach Betätigung des "Kaufen"-Buttons die von ihm bevorzugte Versandoption auswählen.
	Der Versand erfolgt ausschließlich nach den Bedingungen des jeweiligen Versandunternehmens. Kleiderkreisel ist an der Durchführung des Versands nicht beteiligt. 
	</p>
		
	<h2>6.  Dienste</h2> 
	<p>Nutzungsberechtigte der Plattform sind natürliche Personen. 
	Minderjährige bedürfen zur Nutzung von Kleiderkreisel des Einverständnisses der Erziehungsberechtigten. 
	Einige Dienste und Funktionen der Plattform können von einer Nutzung durch Minderjährige ausgeschlossen sein. 
	Gewerbliche Anbieter sind nur nach Einholung der vorherigen Zustimmung von Schenken-Macht-Freude nutzungsberechtigt. 
	Diese AGB regeln das Nutzungsverhältnis zwischen Schenken-Macht-Freude und den berechtigten Nutzern der Plattform (nachfolgend „Mitglieder“). 
	Das Nutzungsverhältnis umfasst sämtliche Inhalte, Funktionen, Tools und sonstige Dienste einschließlich Zahlungsdienste (nachfolgend zusammen "Dienste" genannt), welche Schenken-Macht-Freude auf der Plattform zur Verfügung stellt. 
	Für Dienste können ergänzende Bedingungen gelten, die vor einer Nutzung bestätigt und akzeptiert werden müssen. 
	</p>
		
	<h2>7.  Pflichten des Mitglieds</h2> 
	<p> Mit der Zustimmung zu diesen AGB verpflichtet sich das Mitglied, nicht gegen geltende Gesetze zu verstoßen sowie sämtliche im Folgenden aufgeführten Mitgliederpflichten einzuhalten. Das Mitglied verpflichtet sich insbesondere auf der Plattform:
    Keine falschen, unvollständigen oder irreführenden Angaben zu machen oder betrügerische Absichten zu verfolgen.
    Keine Inhalte einzustellen oder Aktivitäten zu unternehmen, die gegen geltendes Recht, Rechte Dritter, die guten Sitten, diese AGB oder gegen weitere Richtlinien auf der Plattform (bspw. Katalog- oder Forenrichtlinien) verstoßen.
    Keine Inhalte einzustellen oder Aktivitäten zu unternehmen, die beleidigend, bedrohend, missbräuchlich, rufschädigend, gewaltverherrlichend, schockierend, diskriminierend, volksverhetzend, rassistisch, pornographisch, menschenverachtend, sittenwidrig, anstößig, obszön, extremistisch oder jugendgefährdend sind, zu solchen Aktivitäten aufzurufen sowie entsprechende Inhalte auf der Plattform zu verlinken und zu bewerben.
    Kein Spamming zu betreiben (bspw. durch massenhaftes Versenden von Nachrichten, Verbreiten von sinnlosen und störenden Inhalten, Werbung oder wahllose Kauf-/Kontaktanfragen).
    Keine massenhaften Inhalte zu erstellen, so dass die Nutzung der Plattform für andere Mitglieder erschwert wird oder andere Nutzer dies als störend empfinden (sog. „Flooding“).
    Keine Beiträge und Inhalte an einer Stelle zu veröffentlichen, die nicht dafür bestimmt ist oder wo andere Nutzer einen solchen Beitrag als störend empfinden
    Die Dienste der Plattform nicht missbräuchlich zu verwenden, insbesondere nicht um andere Mitglieder zu belästigen, zu beleidigen, zu bedrohen, zu täuschen oder deren Ruf zu schädigen.
    Eine wiederholte Kontaktaufnahme ist untersagt, wenn das andere Mitglied mitgeteilt hat, dass dies nicht erwünscht ist
    Keine Informationen über Dritte – insbesondere Namen, Adressen, Kontaktdaten, Bankverbindungen, Bilder, URLs sowie Inhalte privater Nachrichten – auf der Plattform zu veröffentlichen oder ohne Zustimmung des Dritten zugänglich zu machen.
    Die durch die Nutzung der Plattform erhaltenen Namen, Adressen und Kontaktdaten oder Bankverbindungen anderer Mitglieder vertraulich zu behandeln und für keine anderen Zwecke als die vertragliche oder vorvertragliche Kommunikation im Rahmen der Plattform zu nutzen.
    Keine Sicherheitsmechanismen zu umgehen, um Daten jeglicher Art elektronisch oder manuell zu Missbrauchszwecken abzufangen oder sonstige Hacking-Versuche vorzunehmen.
    Keine Roboter, Crawler, Spider, Scraper oder andere Methoden zu nutzen, um auf Kleiderkreisel massenhaft und/oder automatisiert Daten zu sammeln, egal zu welchem Zweck.
    Keine Inhalte einzustellen oder Aktivitäten zu unternehmen, die Viren, Trojanische Pferde, Würmer oder ähnliche Mechanismen auf Kleiderkreisel verbreiten, die den operativen Betrieb der Plattform oder der Endgeräte der Nutzer stören, schädigen oder weniger effizient machen.
    Keine Inhalte einzustellen oder Aktivitäten zu unternehmen, um andere Webseiten oder deren Inhalte zu bewerben, wenn diese ähnliche Dienste wie Kleiderkreisel erbringen.
    Kleiderkreisel über jeden Verstoß gegen diese AGB, geltendes Recht, Rechte Dritter oder gegen die guten Sitten sowie durch ein anderes Mitglied auf der Plattform begangene Verstöße unverzüglich zu informieren.
	</p>
		
	<h2>8.  Rechte und Pflichten von Schenken-Macht-Freude</h2> 
	<h3>8.1 Sanktionen</h3>
	<p>	Sollten sich konkrete Anhaltspunkte dafür ergeben, dass ein Mitglied gegen geltendes Recht, diese AGB, Rechte Dritter, die guten Sitten oder gegen weitere Richtlinien auf der Plattform (bspw. Katalog- oder Forenrichtlinien) verstößt oder besteht sonst ein berechtigtes Interesse von Kleiderkreisel, 
	insbesondere zum Schutz anderer Mitglieder vor betrügerischen Aktivitäten, ist Kleiderkreisel nach eigenem pflichtgemäßem Ermessen (bspw. Schwere des Regelverstoßes bzw. bei wiederholten Verstößen) berechtigt, folgende Sanktionen gegen ein Mitglied zu verhängen:
    Ermahnung eines Mitglieds
    Verwarnung eines Mitglieds
    Teilweises oder vollständiges Editieren von Inhalten eines Mitglieds
    Teilweises oder vollständiges Löschen von Inhalten eines Mitglieds
    Temporäre oder dauerhafte Beschränkung der Nutzung einzelner Dienste der Plattform (z.B. Forensperre, Verbergen von Bankdaten und anderen persönlichen Daten in persönlichen Nachrichten)
    Temporäre oder dauerhafte Sperrung des Zugangs zur gesamten Plattform
    Abgabe einer negativen Bewertung für einen Verkäufer
	Eine dauerhafte Sperrung eines Mitglieds entspricht einer außerordentlichen Kündigung des Nutzungsvertrages aus wichtigem Grund.
	Falls ein Mitglied gesperrt wurde, ist diesem eine weitere Nutzung der Plattform oder eine erneute Registrierung auf der Plattform untersagt. Kleiderkreisel behält sich vor, Verstöße gegen diese AGB,  gegebenenfalls auch strafrechtlich zu verfolgen und zur Anzeige zu bringen. 
	</p>
	<h3>8.2  Zurverfügungstellung und Betrieb der Plattform</h3>
	<p>Schenken-Macht-Freude stellt die Plattform in der jeweils verfügbaren Form und mit den jeweils verfügbaren Funktionen bereit.
	Kleiderkreisel hat das Recht, die Funktionalitäten oder das Aussehen der Plattform, technische Mechanismen sowie angebotene Dienste jederzeit zu verändern. Solche Veränderungen können dazu führen, dass die Mitglieder ihre Soft- oder Hardware sowie ihre Angebote aktualisieren müssen. Dies erfolgt auf alleinige Kosten der Mitglieder. Kleiderkreisel ist bestrebt, aber nicht verpflichtet, solche Maßnahmen im Voraus anzukündigen.
	Ein Anspruch auf eine bestimmte Verfügbarkeit der Plattform besteht nicht. Die Verfügbarkeit kann zeitweise durch Wartungsarbeiten oder aus anderen Gründen ganz oder teilweise eingeschränkt sein.
	Kleiderkreisel behält sich das Recht vor, die angebotenen Dienste der Plattform ganz oder teilweise, vorübergehend oder dauerhaft einzustellen oder den Zugang aus Wartungs-, Sicherheits- oder Kapazitätsgründen zu beschränken. Kleiderkreisel ist bestrebt, aber nicht verpflichtet, solche Maßnahmen im Voraus anzukündigen.
	Ein Anspruch auf die Nutzung der auf dem Portal verfügbaren Dienste besteht nur im Rahmen der technischen und betrieblichen Möglichkeiten von Kleiderkreisel.Kleiderkreisel ist berechtigt, nach Ankündigung per E-Mail oder in anderer geeigneter Form innerhalb von vier Wochen seine Rechte und Pflichten aus dem Nutzungsverhältnis ganz oder teilweise auf einen Dritten zu übertragen. 
	</p>
		
	<h2>9.  Rechtseinräumung an von Mitgliedern eingestellten Inhalten</h2> 
	<p> Das Mitglied räumt Kleiderkreisel hinsichtlich aller von ihm hochgeladener Inhalte ein unentgeltliches, zeitlich und örtlich unbeschränktes, einfaches Recht zur Nutzung der Inhalte in eigenen oder fremden Medien (z.B. Newsletter, Blogs, Pressemitteilungen, Werbebannern) ein. 
	Die Rechteübertragung umfasst insbesondere das Recht zu Vervielfältigung, öffentlichen Zugänglichmachung, Bearbeitung, Sendung und Verbreitung der Inhalte. 
	Kleiderkreisel hat das Recht Unterlizenzen für diese Rechte an mit Kleiderkreisel verbundene Unternehmen einzuräumen.
	Zusätzlich räumt das Mitglied Kleiderkreisel hinsichtlich seiner in Verbindung mit der Einstellung eines Artikels auf der Plattform veröffentlichten Inhalte (dazu zählen sowohl die Fotos und Videos als auch die Beschreibung des Artikels) das Recht ein, beliebig vielen Käufern Unterlizenzen zur öffentlichen Zugänglichmachung, Vervielfältigung und Bearbeitung der Inhalte zu erteilen. 
	Die Rechtseinräumung ist beschränkt auf den Zweck des Weiterverkaufs eines Artikels auf der Plattform und kann vom Verkäufer jederzeit in seinem Account unter "Profil bearbeiten" widerrufen oder ggf. erneut aktiviert werden.
	Das Mitglied versichert, dass ihm die in Ziffer 11  genannten Rechte an den Inhalten allein und uneingeschränkt zustehen und es bisher keine dieser Rechteübertragung entgegenstehende Verfügung getroffen hat. 
	</p>
		
	<h2>10.  Erhebung personenbezogener Daten</h2> 
	<p>Nutzungsberechtigte der Plattform sind natürliche Personen. 
	Minderjährige bedürfen zur Nutzung von Kleiderkreisel des Einverständnisses der Erziehungsberechtigten. 
	Einige Dienste und Funktionen der Plattform können von einer Nutzung durch Minderjährige ausgeschlossen sein. 
	Gewerbliche Anbieter sind nur nach Einholung der vorherigen Zustimmung von Schenken-Macht-Freude nutzungsberechtigt. 
	Diese AGB regeln das Nutzungsverhältnis zwischen Schenken-Macht-Freude und den berechtigten Nutzern der Plattform (nachfolgend „Mitglieder“). 
	Das Nutzungsverhältnis umfasst sämtliche Inhalte, Funktionen, Tools und sonstige Dienste einschließlich Zahlungsdienste (nachfolgend zusammen "Dienste" genannt), welche Schenken-Macht-Freude auf der Plattform zur Verfügung stellt. 
	Für Dienste können ergänzende Bedingungen gelten, die vor einer Nutzung bestätigt und akzeptiert werden müssen. 
	</p>
	
	<h2>11.  Rechtseinräumung an von Mitgliedern eingestellten Inhalten</h2> 
	<p>Nutzungsberechtigte der Plattform sind natürliche Personen. 
	Minderjährige bedürfen zur Nutzung von Kleiderkreisel des Einverständnisses der Erziehungsberechtigten. 
	Einige Dienste und Funktionen der Plattform können von einer Nutzung durch Minderjährige ausgeschlossen sein. 
	Gewerbliche Anbieter sind nur nach Einholung der vorherigen Zustimmung von Schenken-Macht-Freude nutzungsberechtigt. 
	Diese AGB regeln das Nutzungsverhältnis zwischen Schenken-Macht-Freude und den berechtigten Nutzern der Plattform (nachfolgend „Mitglieder“). 
	Das Nutzungsverhältnis umfasst sämtliche Inhalte, Funktionen, Tools und sonstige Dienste einschließlich Zahlungsdienste (nachfolgend zusammen "Dienste" genannt), welche Schenken-Macht-Freude auf der Plattform zur Verfügung stellt. 
	Für Dienste können ergänzende Bedingungen gelten, die vor einer Nutzung bestätigt und akzeptiert werden müssen. 
	</p>
	
	<h2>12.  Schlussbestimmungen</h2> 
	<p>Auf den Vertrag sowie die Nutzung der Plattform findet deutsches bzw. österreichisches Recht Anwendung mit Ausnahme seiner kollisionsrechtlichen Bestimmungen und unter Ausschluss von UN-Kaufrecht. 
	Welches Recht im konkreten Fall Anwendung findet (deutsches oder österreichisches), bestimmt sich nach dem Land, in dem der jeweilige Nutzer seinen Wohnsitz hat. 
	Sämtliche Erklärungen, die im Rahmen des mit Kleiderkreisel abzuschließenden Nutzungsvertrags übermittelt werden, müssen in Textform oder per E-Mail erfolgen.
	</p>
		<br/>
		<br/>  	
		
	</div>
		
	<div id="footer">
		<a href="index">Home</a> |
		<a href="agb">AGB</a> |
		<a href="imprint">Impressum</a> |
	</div>

	
	</body>
	
	

</html>