<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">	
		<link rel="stylesheet" type="text/css" href="/css/Style.css">
		<title>Tauschboerse</title>
	</head>
	
	<body>
		<div id="header">
			<div id="left">
				<form name="suche" id="suche" method="get" action="">
					<label for="suche" style="width: 50px">Suche</label><input type="text" id="suche">
					<input type="submit" value="Suche starten">
				</form>
			</div>
					
			<div id="right">
				<a href="benutzerKonto">BENUTZERNAME</a> |
			</div>
		</div>	
		
		<div id="contents">
			<div id="homeContent">
				<a>AGB</a>
			</div>
		</div>
		
		
		
		
		
		
		
		<div id="footer">
			<a href="home">Home</a> -
			<a href="agb">AGB</a> - 
			<a href="imprint">Impressum</a> 
		</div>
	
	</body>
	
	

</html>