<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">	
		<link rel="stylesheet" type="text/css" href="/css/Style.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		
		<title>Schenken-Macht-Freude</title>
	</head>
	
	<body>

<div id="header">
	<div id="left">
	<form name="suche" id="suche" action="/suchergebnisse" method="get">
        <div class="form-group">
            <label id="suchLabel">Suche</label>
            <input type="text" class="form-control" name="suche">
        </div>
 		<button type="submit" class="btn btn-warning btn-lg">LOS</button>
    </form>
    </div>
</div>
		<br/>
		<br/>			
			
	<div id="left">
		<span class="glyphicon">&#xe008;</span> <a href="profile">Mein Konto</a> 
			<br/>
			<br/>
			<br/>
			<br/>
	</div>	
		<br/>
		<br/>	
		<div id="content">
			<div id="homeContent">
				<a>Benutzerdaten Anpassen</a>
			</div>
			
			<div class="links">
				<label for="anrede">Anrede:</label>
				<select class="anrede" size="1">
					<option>Frau</option>
					<option>Herr</option>
				</select><br>
				
				<br><label for="vorname">Vorname:</label><input id ="vorname" required><br>
				<br><label for="nachname">Nachname:</label><input id ="nachname" required><br>
				<br><label for="strasse">Strasse:</label><input id ="strasse" required><br>
				<br><label for="hausNr">HausNr:</label><input id ="hausNr" required><br>
				<br><label for="plz">PLZ:</label><input id ="plz" required><br>
				<br><label for="ort">Ort:</label><input id ="ort" required><br>
				<br><label for="email">E-Mail:</label><input id ="email" required><br>
				<br><label for="benutzername">Benutzername:</label><input id ="benutzername" required disabled="disabled" style="background-color:#d3d3d3"><br>
				<br><label for="passowrd">Passwort:</label><input type="password" id="password" required><br>	
				<br><label for="passwordBest">Passowort bestätigen:</label><input type="password" id="passwordBest" required><br>
			</div>
			
			<br><button type="submit">Anmelden</button><br>
			<br><button type="submit">Abrechen</button>

		</div>

		<div id="footer">
			<a href="index">Home</a> -
			<a href="agb">AGB</a> - 
			<a href="imprint">Impressum</a> 
		</div>
	
	</body>
	
	

</html>