<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">	
		<link rel="stylesheet" type="text/css" href="/css/Style.css">
		<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/js/picture.js"></script>
		
		<title>Schenken-Macht-Freude</title>
	</head>
	
	<body>

<div id="header">
	<div id="left">
	<form name="suche" id="suche" action="/suchergebnisse" method="get">
        <div class="form-group">
            <label id="suchLabel">Suche</label><input type="text" class="form-control" name="suche">
            	<button type="submit" class="btn btn-warning btn-lg">LOS</button>
        </div>
 	 </form>
    </div>
 </div>
<div id="well">
<br/>
<br/>
<br/>
<br/>
</div>
		<br/>
		<br/>			
		<br/>	
		<br/>
		<br/>
<div id="content">	
		<div id="">
				<a href="profile" class="btn btn-default"><span class="glyphicon">&#xe008;</span> Mein Konto</a>
				<br/>
				<br/>
				<a href="benachrichtungen" class="btn btn-default"><span class="glyphicon">&#x2709; </span> Benachrichtigungen</a>
				<br/>
				<br/>
				<a href="/eigeneArtikel" class="btn btn-default"><span class="fa fa-user"></span> Meine Artikel</a>
			</div>
		<br/>
			
		<br/>
	 
		</div>
	 
		</div>
		<div id="content">
			<div id="homeContent">
				<a>Eingestellter Artikel</a>
			</div>
		</div>	
			<div class = "links">
				
		<p id="b64"><output id="imgTest"></output></p>
		
			</div>
			
			<div class = "rechts">
			<!--  <label for="kategorie">Kategorie:</label><input id ="kategorie" required><br>
				<br><label for="titel">Titel:</label><input id ="titel" required><br>
			  	<br><label for="benutzername">Benutzername:</label><input id ="benutzername" required><br>
				<br><label for="ort">Ort:</label><input id ="ort" required><br>
				<br><label for="plz">PLZ:</label><input id ="plz" required><br>
				-->
				
				
				
				<form method="post" action="/article/new">
   				
   				<label for="titel">Titel</label>
   				<input type="text" name="article[titel]">
  				
  				<label for="Beschreibung">Beschreibung</label>
  				<input type="text" name="article[beschreibung]">
  				<label for="Bild">Bild</label>
  				<!--  <input type='file' id='getval' onchange="readURL(event)" name="article[foto]" /><br/><br/>-->
  				<input id="inputFileToLoad" type="file" onchange="encodeImageFileAsURL();" />
  				<label for="Base64">Base64</label>
  				<input type="text" name="article[foto]" id="base64t" disabled><br>
  				<input type="submit" value="Einstellen">
    </form>
    
    
    <!--  
				<br><label for="email">E-Mail:</label><input id ="email" required><br>	
				<br><label for="beschreibung">Beschreibung:</label><textarea></textarea><br>
			</div>
			
				<br><button type="submit" onclick="createArtikel()">Einstellen</button><br>
				<br><button type="submit">Abrechen</button>-->


		
		</div>
		
		
		<div id="footer">
			<a href="index">Home</a> -
			<a href="agb">AGB</a> - 
			<a href="imprint">Impressum</a> 
		</div>
	
	</body>
	
	

</html>