<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">	
		 
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	<style>
    	    body        { padding-top:80px; }
    	</style>
			<base href="homeVorLogin.html">
		<link rel="stylesheet" type="text/css" href="/css/Style.css">
		<title>Schenken-Macht-Freude</title>
	</head>
	
	<body>
<div id="header">
	<div id="left">
	<form name="suche" id="suche" action="/suchergebnisse" method="get">
        <div class="form-group">
            <label id="suchLabel">Suche</label><input type="text" class="form-control suchEingabe" name="suche">
            	<button type="submit" class="btn btn-warning btn-lg sucheStarten">LOS</button>
   
        </div>
 	 </form>
	    <div id="headerInfo">
		    <a href="profile" class="btn btn-default black"><span class="glyphicon">&#xe008;</span> Mein Konto</a>
			<a href="benachrichtungen" class="btn btn-default black"><span class="glyphicon">&#x2709; </span> Benachrichtigungen</a>
			<a href="/eigeneArtikel" class="btn btn-default black"><span class="fa fa-user"></span> Meine Artikel</a>
	    </div>
    </div>
 </div>
	<div id="content">
		<h1>Impressum</h1>
		<p>	Schenken-Macht-Freude</p>
		<p>Geschäftsführung: Carsten Gedrat, Leonid Immel, Sarah Roehricht, Joachim Zerbig</p>
		<p>Sitz von Schenken-Macht-Freude: Reutlingen</p>
		<p>Alteburgstraße 135</p>
		<p>72762 Reutlingen</p>
	</div>
		
		
		
		<div id="contents">
			<div id="homeContent">
	
			<div id="footer">
			<a href="index">Home</a> |
			<a href="agb">AGB</a> |
			<a href="imprint">Impressum</a> |
			</div>
			</div>
		</div>
	
	</body>
	
	

</html>