<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">	
		<link rel="stylesheet" type="text/css" href="/css/Style.css">
   		 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
   	 	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<title>Schenken-Macht-Freude</title>
	</head>
	
	<body>
<div id="header">
	<div id="left">
	<form name="suche" id="suche" action="/suchergebnisse" method="get">
        <div class="form-group">
            <label id="suchLabel">Suche</label>
            <input type="text" class="form-control" name="suche">
        </div>
 		<button type="submit" class="btn btn-warning btn-lg">LOS</button>
    </form>
    </div>
</div>
					
			<div id="right">
				<a href="profile">Mein Konto</a> |
			</div>
		
		
		<div id="content">
			<div id="homeContent">
				<a>Benutzerkonto</a>
			</div>
		<div id="center">
		
		<input type=text id="titel" value="titel1">Sasdasd</input>
		<button type ="submit">lalala</button>
		
		</div>
		
		</div>

		<div id="contents">
			<div id="homeContent">
	
			<div id="footer">
			<a href="index">Home</a> |
			<a href="agb">AGB</a> |
			<a href="imprint">Impressum</a> |
			</div>
			</div>
		</div>
	
	</body>
	
	

</html>