<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">	
		<link rel="stylesheet" type="text/css" href="/css/Style.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<title>Schenken-Macht-Freude</title>
	</head>
	
	<body>

<div id="header">
	<div id="left">
	<form name="suche" id="suche" action="/suchergebnisse" method="get">
        <div class="form-group">
            <label id="suchLabel">Suche</label><input type="text" class="form-control" name="suche">
            	<button type="submit" class="btn btn-warning btn-lg">LOS</button>
        </div>
 	 </form>
    </div>
 </div>
<div id="well">
<br/>
<br/>
<br/>
<br/>
</div>
		<br/>
		<br/>			
		<br/>	
		<br/>
		<br/>
	<div id="content">	
		<div id="">
				<a href="profile" class="btn btn-default"><span class="glyphicon">&#xe008;</span> Mein Konto</a>
				<br/>
				<br/>
				<a href="benachrichtungen" class="btn btn-default"><span class="glyphicon">&#x2709; </span> Benachrichtigungen</a>
				<br/>
				<br/>
				<a href="/eigeneArtikel" class="btn btn-default"><span class="fa fa-user"></span> Meine Artikel</a>
			</div>
		<br/>
			
		<br/>
	 
		</div>
    <div class="row" >

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Suchergebnisse</h3>

                    <p>
 				<form name="" id="" action="/nachricht/new" method="get">
                   	<strong>Titel</strong>			: <kbd name="titel" value="<% user.titel%>"> <%= user.titel %></kbd><br>
			       	<strong>Beschreibung</strong>	: <kbd name="beschreibung" ><%= user.beschreibung %></kbd><br>
			       	<strong>Benutzername</strong>	: <kbd name="benutzername" ><%= user.benutzername %></kbd><br>
			       	<strong>Ort</strong>			: <kbd name="ort" ><%= user.ort %></kbd><br>
			       	<strong>Plz</strong>			: <kbd name="plz" ><%= user.plz %></kbd><br> 
			       	<strong>Foto</strong>			: <kbd name="foto" ><%= user.foto %></kbd><br>
			     
        			<div class="form-group">
          		<!-- 	  <label id="suchLabel">Suche</label> -->
            		</div>
 					<button type="submit" class="btn btn-warning btn-lg">Will ich</button>
			    </form>
			        
                    </p>

            </div>
        </div>
     </div>
	<br/>
	<br/>
		
		<div id="content">
			<div id="homeContent">
				<a><a href="eingestellterArtikel">Einen neuen Artikel einstellen</a></a>
			</div>
	
		</div>					
		

		
		<div id="footer">
			<a href="index">Home</a> -
			<a href="agb">AGB</a> - 
			<a href="imprint">Impressum</a> 
		</div>
	
	</body>
	
	

</html>